* {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
}


.orange {
    color: #FF5400;
}

.btn-primary {
    padding: 14px 24px;
    border: 0;
    border-radius: 10px;
    background-color: #FF5400;
    color: #FFFFFF;
}

/* header-section */

/* nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 150px;
}

.nav-list ul {
    display: flex;
    gap: 30px;
}

nav li {
    list-style: none;
    font-weight: 700;
    font-size: 18px;
}

.nav-title {
    font-weight: 800;
    font-size: 36px;
    color: #131318;
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav img {
    width: 50px;
}

/* explore-banner */

.explore {
    color: #FFFFFF;
    text-align: center;
    padding: 100px 70px;
    margin: 50px 100px 100px;
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    /* max-width: 1000px; */
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.explore-title {
    font-weight: 800;
    font-size: 64px;
    padding-bottom: 30px;
}

.explore-text {
    font-weight: 400;
    font-size: 16px;
}

.explore-form {
    gap: 20px;
    padding: 20px 30px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    backdrop-filter: blur(5px);
    color: rgba(19, 19, 24, 0.5);
    font-weight: 400;
    font-size: 16px;
}

.explore-form input,
select {
    /* opacity: 0.5; */
    padding: 14px 24px;
    border: 0;
    border-radius: 10px;
    border: 1px solid black;
}

/* main-section */

/* popular-section */

.popular {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 100px 80px;
}

.popular-title {
    font-weight: 800;
    font-size: 40px;
    color: #131318;
    padding-bottom: 20px;
}

.popular-text {
    font-weight: 400;
    font-size: 16px;
    color: rgba(19, 19, 24, 0.7);
    padding-bottom: 22px;
}

.popular-list li {
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(19, 19, 24, 0.7);
}

.popular-img img {
    width: 500px;
}

/* destination-section */


.destination-title {
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}

.destination-text {
    text-align: center;
    color: rgba(19, 19, 24, 0.7);
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 30px;
}

.all-destination {
    /* gap: 20px; */
}

.place1,
.place2,
.place3 {
    display: grid;
    font-weight: 800;
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
}

.place1 {
    grid-template-columns: repeat(2, 1fr);
}

.place2 {
    grid-template-columns: repeat(3, 1fr);
}

.place3 {
    grid-template-columns: repeat(2, 1fr);
}

.maldive {
    background-image: url(../Images/maldive.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 130px 120px;
    border-radius: 20px;
    margin: 20px;
}

.indonesia {
    background-image: url(../Images/indonesia.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 130px 120px;
    border-radius: 20px;
    margin: 20px;
}

.srilanka {
    background-image: url(../Images/srilanka.png);
    padding: 170px 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    margin: 20px;
}

.america {
    background-image: url(../Images/america.png);
    padding: 150px 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    margin: 20px;
}

.kashmir {
    background-image: url(../Images/kashmir.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    padding: 170px 20px;
    margin: 20px;
}

.bangla {
    background-image: url(../Images/bangla.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    padding: 120px 100px;
    margin: 20px;
}

.bandarban {
    background-image: url(../Images/bandarban.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    padding: 120px 100px;
    margin: 20px;
}


/* choosing-section */

.choose {
    color: #131318;
    padding: 100px 135px;
}

.choose-title {
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    padding-bottom: 20px;
}

.choose-text {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: rgba(19, 19, 24, 0.7);
    padding-bottom: 32px;
}

.box {
    display: flex;
    /* justify-content: space-between; */
    gap: 24px;
}

.box1 {
    background: rgba(251, 181, 99, 0.05);
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    padding: 30px 40px;
}

.box2 {
    background: rgba(41, 206, 246, 0.05);
    border: 1px solid rgba(41, 206, 246, 0.2);
    border-radius: 16px;
    padding: 30px 40px;
}

.box3 {
    background: rgba(233, 68, 68, 0.05);
    border: 1px solid rgba(233, 68, 68, 0.2);
    border-radius: 16px;
    padding: 30px 40px;
    margin: 30px 200px 50px;
}

.box img,
.box3 img {
    width: 50px;
    padding-bottom: 30px;
}

.box-title {
    font-weight: 800;
    font-size: 24px;
    padding-bottom: 18px;
}

.box-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #5A5A5D;

}



@media screen and (max-width:600px) {

    nav,
    .popular {
        flex-direction: column;
        padding: 20px;

    }

    .nav-list li {
        display: none;
    }



    .explore {
        padding: 20px;
        margin: 10px;
    }

    .explore-title {
        font-size: 40px;
    }

    .explore-form {
        flex-direction: column;
    }

    .popular-img img {
        width: 100%;
    }

    .place1,
    .place2,
    .place3 {
        grid-template-columns: repeat(1, 1fr);
    }

    .maldive,
    .indonesia,
    .america,
    .kashmir,
    .srilanka,
    .bangla,
    .bandarban {
        padding: 50px;
    }

    .choose {
        padding: 20px;
    }

    .choose-title {
        font-size: 22px;
        font-weight: 800;
    }

    .box {
        flex-direction: column;
    }

    .box3{
        margin: 0px;
        margin-top: 20px;
    }
     
}